{% extends 'base.html' %}
{% block content %}
    <h1>{{ todo.title }}</h1>

    {% if request.user == todo.author %}
        <div style="text-align: right">
            <a href="{% url 'todo_update' todo.pk %}">수정</a>
            <form action="{% url 'todo_delete' todo.pk %}" method="post" style="display: inline">
                {% csrf_token %}
                <button>삭제</button>
            </form>
        </div>
    {% endif %}

    <div style="text-align: right">
        {{ todo.author.username }}
    </div>
    <hr>
    <p>{{ todo.detail }}</p>
    <br>
    <a href="{% url 'todo_list' %}"> 목록으로 돌아가기</a>
{% endblock %}